<h1 mat-dialog-title>Confirmar Eliminación</h1>
<div mat-dialog-content>
  <p>¿Está seguro de que desea eliminar el siguiente producto?</p>
  <ul>
    <li><strong>Producto:</strong> {{ data.producto }}</li>
    <li><strong>Unidad:</strong> {{ data.unidad }}</li>
    <li><strong>Cantidad:</strong> {{ data.cantidad }}</li>
    <li><strong>Categoría(s):</strong> {{ data.categorias }}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onConfirm()" color="warn">Eliminar</button>
</div>